.root {
  display: inline-flex;
  padding: 10px 0;

  .moderatorBadge,
  .user {
    margin-right: 5px;
    word-break: break-all;
  }

  .partMessage {
    font-weight: 400;
    color: var(--theme-color-components-chat-text);
    font-size: var(--chat-message-text-size);
  }
}

.icon {
  padding: 0 var(--chat-notification-icon-padding) 0 16px;
}

@media screen and (width <= 350px) {
  .icon {
    padding-left: 0;
  }
}
